.sidebar {
    position: fixed;
    left: 0;
    bottom: 0px;
    top: 55px;
    width: 75px;
    background-color:white;
    z-index: 2;
    padding-top: 5px;
}
.sidebar-link {
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sidebar-link:hover {
    background-color: rgb(242, 239, 239);
}
.sidebar-link img {
    width: 25px;   
}
.sidebar-link div {
    font-family: roboto;
    font-size: 10px;
    padding-top: 8px;
}
@media only screen and (max-device-width: 480px){
    .sidebar {
        top: 110px;
        width: 120px;
        padding-top: 0;
    }
   
  
    .sidebar-link img {
        width: 60px;   
    }
    .sidebar-link {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .sidebar-link div {
        font-family: roboto;
        font-size: 15px;
        padding-top: 10px;
    }
}
